<section class="movie">
  <div class="container">
    <h1 class="movie__title visually-hidden">Trending films</h1>
    <ul class="movie__list js-movies-container">
      <!-- <li class="movies__item">
        <a href="#" class="movies__link">
          <div class="movies__img-wrap">
            <picture class="movies__picture">
              <source
                srcset="/src/images/img-marketing-mob-2x.jpg"
                media="(min-width: 1280px)"
              />
              <source
                srcset="/src/images/img-marketing-mob-2x.jpg"
                media="(min-width: 768px)"
              />
              <source
                srcset="/src/images/img-marketing-mob-2x.jpg"
                media="(max-width: 767px)"
              />
              <img
                src="/src/images/img-marketing-mob-2x.jpg"
                alt="title"
                width="395"
                class="movies__img"
              />
            </picture>
          </div>
          <div class="movies__info-wrap">
            <h2 class="movies__subtitle text-hidden">
              Lorem ipsum dolor sit amet consectetur.
            </h2>
            <p class="movies__data">Lorem ipsum dolor sit amet. | 2021</p>
          </div>
        </a>
      </li> -->
    </ul>
  </div>
</section>
