<section class="moovies">
  <div class="container">
    <h1 class="moovies__title visually-hidden">Trending films</h1>
    <ul class="movies__list">
      <li class="movies__item">
        <a href="#" class="movies__link">
          <div class="movies__img-wrap">
            <picture class="movies__picture">
              <source
                srcset="/src/images/img-marketing-mob-2x.jpg"
                media="(min-width: 1280px)"
              />
              <source
                srcset="/src/images/img-marketing-mob-2x.jpg"
                media="(min-width: 768px)"
              />
              <source
                srcset="/src/images/img-marketing-mob-2x.jpg"
                media="(max-width: 767px)"
              />
              <img
                src="/src/images/img-marketing-mob-2x.jpg"
                alt="title"
                width="395"
                class="movies__img"
              />
            </picture>
          </div>
          <div class="movies__info-wrap">
            <h2 class="movies__subtitle text-hidden">
              Lorem ipsum dolor sit amet consectetur.
            </h2>
            <p class="movies__data">Lorem ipsum dolor sit amet. | 2021</p>
          </div>
        </a>
      </li>
      <li class="movies__item">
        <a href="#" class="movies__link">
          <div class="movies__img-wrap">
            <picture class="movies__picture">
              <source
                srcset="/src/images/img-marketing-mob-2x.jpg"
                media="(min-width: 1280px)"
              />
              <source
                srcset="/src/images/img-marketing-mob-2x.jpg"
                media="(min-width: 768px)"
              />
              <source
                srcset="/src/images/img-marketing-mob-2x.jpg"
                media="(max-width: 767px)"
              />
              <img
                src="/src/images/img-marketing-mob-2x.jpg"
                alt="title"
                width="395"
                class="movies__img"
              />
            </picture>
          </div>
          <div class="movies__info-wrap">
            <h2 class="movies__subtitle text-hidden">
              Lorem ipsum dolor sit amet consectetur.
            </h2>
            <p class="movies__data">Lorem ipsum dolor sit amet. | 2021</p>
          </div>
        </a>
      </li>
      <li class="movies__item">
        <a href="#" class="movies__link">
          <div class="movies__img-wrap">
            <picture class="movies__picture">
              <source
                srcset="/src/images/img-marketing-mob-2x.jpg"
                media="(min-width: 1280px)"
              />
              <source
                srcset="/src/images/img-marketing-mob-2x.jpg"
                media="(min-width: 768px)"
              />
              <source
                srcset="/src/images/img-marketing-mob-2x.jpg"
                media="(max-width: 767px)"
              />
              <img
                src="/src/images/img-marketing-mob-2x.jpg"
                alt="title"
                width="395"
                class="movies__img"
              />
            </picture>
          </div>
          <div class="movies__info-wrap">
            <h2 class="movies__subtitle text-hidden">
              Lorem ipsum dolor sit amet consectetur.
            </h2>
            <p class="movies__data">Lorem ipsum dolor sit amet. | 2021</p>
          </div>
        </a>
      </li>
      <li class="movies__item">
        <a href="#" class="movies__link">
          <div class="movies__img-wrap">
            <picture class="movies__picture">
              <source
                srcset="/src/images/img-marketing-mob-2x.jpg"
                media="(min-width: 1280px)"
              />
              <source
                srcset="/src/images/img-marketing-mob-2x.jpg"
                media="(min-width: 768px)"
              />
              <source
                srcset="/src/images/img-marketing-mob-2x.jpg"
                media="(max-width: 767px)"
              />
              <img
                src="/src/images/img-marketing-mob-2x.jpg"
                alt="title"
                width="395"
                class="movies__img"
              />
            </picture>
          </div>
          <div class="movies__info-wrap">
            <h2 class="movies__subtitle text-hidden">
              Lorem ipsum dolor sit amet consectetur.
            </h2>
            <p class="movies__data">Lorem ipsum dolor sit amet. | 2021</p>
          </div>
        </a>
      </li>
      <li class="movies__item">
        <a href="#" class="movies__link">
          <div class="movies__img-wrap">
            <picture class="movies__picture">
              <source
                srcset="/src/images/img-marketing-mob-2x.jpg"
                media="(min-width: 1280px)"
              />
              <source
                srcset="/src/images/img-marketing-mob-2x.jpg"
                media="(min-width: 768px)"
              />
              <source
                srcset="/src/images/img-marketing-mob-2x.jpg"
                media="(max-width: 767px)"
              />
              <img
                src="/src/images/img-marketing-mob-2x.jpg"
                alt="title"
                width="395"
                class="movies__img"
              />
            </picture>
          </div>
          <div class="movies__info-wrap">
            <h2 class="movies__subtitle text-hidden">
              Lorem ipsum dolor sit amet consectetur.
            </h2>
            <p class="movies__data">Lorem ipsum dolor sit amet. | 2021</p>
          </div>
        </a>
      </li>
      <li class="movies__item">
        <a href="#" class="movies__link">
          <div class="movies__img-wrap">
            <picture class="movies__picture">
              <source
                srcset="/src/images/img-marketing-mob-2x.jpg"
                media="(min-width: 1280px)"
              />
              <source
                srcset="/src/images/img-marketing-mob-2x.jpg"
                media="(min-width: 768px)"
              />
              <source
                srcset="/src/images/img-marketing-mob-2x.jpg"
                media="(max-width: 767px)"
              />
              <img
                src="/src/images/img-marketing-mob-2x.jpg"
                alt="title"
                width="395"
                class="movies__img"
              />
            </picture>
          </div>
          <div class="movies__info-wrap">
            <h2 class="movies__subtitle text-hidden">
              Lorem ipsum dolor sit amet consectetur.
            </h2>
            <p class="movies__data">Lorem ipsum dolor sit amet. | 2021</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
<!-- <ul class="pagination_-list">
  <li class="pagination__item disabled">
    <a href="" class="href pagination__link"
      ><button class="pagination__button pagination__button--prev">
        prev
      </button></a
    >
  </li>
  <li class="pagination__item">
    <a href="" class="href pagination__link"
      ><button class="pagination__button">1</button></a
    >
  </li>
  <li class="pagination__item">
    <a href="" class="href pagination__link"
      ><button class="pagination__button">
        <span class="pagination__dots">...</span>
      </button></a
    >
  </li>
  <li class="pagination__item">
    <a href="" class="href pagination__link"
      ><button class="pagination__button">13</button></a
    >
  </li>
  <li class="pagination__item">
    <a href="" class="href pagination__link"
      ><button class="pagination__button">14</button></a
    >
  </li>
  <li class="pagination__item">
    <a href="" class="href pagination__link"
      ><button class="pagination__button js-active">15</button></a
    >
  </li>
  <li class="pagination__item">
    <a href="" class="href pagination__link"
      ><button class="pagination__button">16</button></a
    >
  </li>
  <li class="pagination__item">
    <a href="" class="href pagination__link"
      ><button class="pagination__button">17</button></a
    >
  </li>
  <li class="pagination__item">
    <a href="" class="href pagination__link"
      ><button class="pagination__button">
        <span class="pagination__dots">...</span>
      </button></a
    >
  </li>
  <li class="pagination__item">
    <a href="" class="href pagination__link"
      ><button class="pagination__button">20</button></a
    >
  </li>
  <li class="pagination__item">
    <a href="" class="href pagination__link"
      ><button class="pagination__button pagination__button--next">
        next
      </button></a
    >
  </li>
</ul> -->
