<!-- <header class="header header--library">
  <div class="container container--header">
    <nav class="navigation header__navigation">
      <a href="./index.html" lang="en" class="logo header__logo">
        <svg class="logo__icon" width="24" height="24">
          <use href="./images/svg/sprite.svg#logo-film"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="" id="home">HOME </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link current" href="./library.html" id="library"
            >MY LIBRARY
          </a>
        </li>
      </ul>
    </nav>
    <div class="header__wrap--btn js-library-buttons-wrap">
       <div class="header__wrap header__wrap--btn visually-hidden"></div> -->
<!-- <button class="header__btn js-watched" type="button">WATCHED</button>
      <button class="header__btn js-queue" type="button">QUEUE</button>
    </div>
  </div>
  <div class="switsh-wrap">
    <div class="switch-btn"></div>
  </div>
</header> -->
