<header class="header header--library">
  <div class="container container--header">
    <nav class="navigation header__navigation">
      <a href="./index.html" lang="en" class="logo header__logo">
        <svg class="logo__icon" width="24" height="24">
          <use
            class="logo__icon"
            href="./images/svg/sprite.svg#logo-film"
          ></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="#" id="home">
            <button class="navigation__btn">Home</button>
          </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#" id="library"
            ><button class="navigation__btn">My library</button></a
          >
        </li>
      </ul>
    </nav>
    <div class="header__wrap header__wrap--btn visually-hidden">
      <button class="header__btn js-active" type="button">Watched</button>
      <button class="header__btn" type="button">Queue</button>
    </div>
  </div>
  <div class="switsh-wrap">
    <div class="switch-btn"></div>
  </div>
</header>
