<section class="paginator">
  <div class="container">
    <div class="pagination js-paginator"></div>
  </div>
</section>
<!-- <ul class="pagination_-list">
  <li class="pagination__item disabled">
    <a href="" class="href pagination__link"
      ><button class="pagination__button pagination__button--prev">
        prev
      </button></a
    >
  </li>
  <li class="pagination__item">
    <a href="" class="href pagination__link"
      ><button class="pagination__button">1</button></a
    >
  </li>
  <li class="pagination__item">
    <a href="" class="href pagination__link"
      ><button class="pagination__button">
        <span class="pagination__dots">...</span>
      </button></a
    >
  </li>
  <li class="pagination__item">
    <a href="" class="href pagination__link"
      ><button class="pagination__button">13</button></a
    >
  </li>
  <li class="pagination__item">
    <a href="" class="href pagination__link"
      ><button class="pagination__button">14</button></a
    >
  </li>
  <li class="pagination__item">
    <a href="" class="href pagination__link"
      ><button class="pagination__button js-active">15</button></a
    >
  </li>
  <li class="pagination__item">
    <a href="" class="href pagination__link"
      ><button class="pagination__button">16</button></a
    >
  </li>
  <li class="pagination__item">
    <a href="" class="href pagination__link"
      ><button class="pagination__button">17</button></a
    >
  </li>
  <li class="pagination__item">
    <a href="" class="href pagination__link"
      ><button class="pagination__button">
        <span class="pagination__dots">...</span>
      </button></a
    >
  </li>
  <li class="pagination__item">
    <a href="" class="href pagination__link"
      ><button class="pagination__button">20</button></a
    >
  </li>
  <li class="pagination__item">
    <a href="" class="href pagination__link"
      ><button class="pagination__button pagination__button--next">
        next
      </button></a
    >
  </li>
</ul> -->
