//----------------------------------------------------------
.backdrop {
  z-index: 1000;
  width: 100%;
  min-height: 100%;
  opacity: 1;
  visibility: visible;
  background-color: rgba(43, 43, 43, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.movie-info {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-height: 90%;
  overflow-y: scroll;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  //   padding-left: 20px;
  //   padding-right: 20px;

  padding: 48px 20px 40px;
}

// .movie-info {
//   background-color: #fff;
//   width: 100%;
//   padding: 48px 20px 40px;
//   height: 93vh;
//   font-weight: 500;
//   font-size: 12px;
//   line-height: 1.33;
//   overflow-y: scroll;
// }

.movie-detail__image {
  width: 100%;
  border-radius: 5px;
}

.movie-detail__title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
}

.movie-detail__about {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.movie-detail__title-table-titles {
  color: #8c8c8c;
}

.movie-detail__table {
  margin-top: 20px;
  width: 100%;
}

.movie-detail__about-text {
  margin-top: 10px;
  line-height: 1.66;
}

.movie-detail__button {
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #000;
  text-transform: uppercase;
  width: 110px;
  height: 44px;
  line-height: 1.33;
  background-color: #fff;
}

.movie-detail__button.highlighted {
  border: 0;
  background-color: #ff6b01;
  color: #fff;
}

.movie-detail__buttons-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
}
