footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  background-color: #f7f7f7;
  height: 100px;
  text-align: center;
  color: #545454;
}

.footer__text {
  margin-bottom: 10px;
}
