.header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header--home {
  background-image: url(../images/main-header-bg/main-bg-320.jpg);
  height: 230px;
  @include retina {
    background-image: url(../images/main-header-bg/main-bg-320@2x.jpg);
  }

  @include tablet {
    background-image: url(../images/main-header-bg/main-bg-768.jpg);

    @include retina {
      background-image: url(../images/main-header-bg/main-bg-768@2x.jpg);
    }
    height: 216px;
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/main-header-bg/main-bg-1280.jpg);

    @include retina {
      background-image: url(../images/main-header-bg/main-bg-1280@2x.jpg);
    }
  }
}

.container--header {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 45;
  @include tablet {
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.header__btn {
  visibility: hidden;
}

.header--library {
  background-image: url(../images/background_img_library1280px.jpg);
  padding-top: 40px;
  padding-bottom: 62px;
  @include tablet {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  @include desktop {
  }
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
  @include tablet {
    margin-bottom: 40px;
  }
  @include desktop {
    margin-bottom: 40px;
  }
}
.logo {
  display: flex;
  align-items: center;
}

.logo__icon {
  margin-right: 8px;
}

.logo__text {
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
  display: none;
  @include tablet {
    display: block;
  }
}
.navigation__list {
  //   @extend %flex;
  display: flex;
  //   justify-content: center;
  align-items: center;

  //   min-width: 281px;
  list-style: none;
}

.navigation__item:not(:last-child) {
  margin-right: 40px;
}
.navigation__link {
  display: block;
  color: inherit;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  //   transition: color ;
  //   @include font(14px, 500, 16px, 0.02em);
}

.navigation__link {
  cursor: pointer;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: transparent;
  }
}

.current.navigation__link::after {
  content: '';
  // position: absolute;
  // bottom: 0;
  // display: block;
  // width: 100%;
  // height: 3px;
  // border-radius: 1.5px;
  background-color: #ff001b;
}

.navigation__btn {
  border: none;
  background-color: transparent;
  display: block;
  color: #ffffff;
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 2px;
  padding-top: 5px;
  text-transform: uppercase;
}

.form {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;

  border-bottom: 0.5px solid #ffffff;
  @include mobile {
    width: 336px;
    margin-bottom: 20px;
  }
  @include desktop {
    width: 394px;
  }
}
.form__query {
  width: 100%;
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.form__button {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 0;
  right: 0;
}
.header__wrap {
  width: 100%;
  margin: 0 auto;
  @include mobile {
    text-align: center;
    width: auto;
  }
  @include desktop {
    width: 394px;
  }
}
.header__warning {
  visibility: hidden;
  margin-top: 20px;
  color: #ff001b;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  @include tablet {
    width: 100%;
  }
}

.js-show {
  visibility: visible;
}
.is-hidden {
  visibility: hidden;
}
