.header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  background-image: url('../images/abstract-background-with-red-lines\ 1280.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 230px;
  color: #fff;
}

.header__menu-link {
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.header__menu-link.active::after {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -3px;
  left: 0;
  background-color: #ff001b;
}

.header__menu-item {
  margin-right: 39px;
}

.header__menu-item:last-child {
  margin-right: 0;
}

.header__menu {
  display: flex;
}

.header__container-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
