.paginator {
  margin-top: 40px;
}

.pagination {
  // justify-content: space-between;
  justify-content: center;
  align-items: center;
  display: flex;
}

.pagination__button {
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  background-color: #fff;
}

.pagination__button.back {
  background-color: #f7f7f7;
  position: relative;
}

.pagination__button.forward {
  background-color: #f7f7f7;
  position: relative;
}

.pagination__button.back::after {
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  content: '';
  position: absolute;
  background-image: url('./../images/svg/arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.pagination__button.forward::after {
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  content: '';
  position: absolute;
  background-image: url('./../images/svg/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.current {
  background-color: #ff6b08;
}
