.dark {
  background: $bgDarkTheme;
}
.dark .footer {
  background-color: #2b2727;
  color: #baaeae;
}

.dark .movie-info {
  background-color: #2b2727;
}
.dark .movie-detail__about-text {
  color: #fefefe;
}
.dark .movie-detail__about {
  color: #fefefe;
}
.dark .movie-detail__info {
  color: #fefefe;
}
.dark .movie-detail__title {
  color: #fefefe;
}
.dark .pagination__button {
  background-color: transparent;
  color: #fff;
}

.dark .pagination__button.back {
  background-color: transparent;

  &::after {
    background-image: url('./../images/svg/arrow-left-dark.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
.dark .pagination__button.forward {
  background-color: transparent;

  &::after {
    background-image: url('./../images/svg/arrow-right-dark.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
.dark .icon__close {
  fill: $headerTextColor;
}
.dark .current {
  background-color: $btnActiveColor;
}

.dark .movie__title {
  color: #baaeae;
}
.navigation__wrap {
  position: relative;
}
.switch-wrap {
  position: absolute;
  width: 20px;
  height: 20px;
  left: -44px;
  bottom: -3px;
  // bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  background-color: transparent;
}
.dark .movie-votes {
  color: #2b2727;
}

.switch-wrap:hover .material-icons {
  text-shadow: 0 0 10px #ff6b08, 0 0 20px #ff6b08, 0 0 30px #ff6b08,
    0 0 40px #ff6b08, 0 0 70px #ff6b08, 0 0 80px #ff6b08, 0 0 100px #ff6b08,
    0 0 150px #ff6b08;
}
.material-icons {
  color: $headerTextColor;
}
